/DiaryWorkouts/bin/Debug/*
/DiaryWorkouts/bin/Debug/SQLite — копия без изменения таблицы тренировок.db
/DiaryWorkouts/bin/Debug/SQLite — копия.db
/DiaryWorkouts/bin/Debug/SQLite — последняя копия.db
/DiaryWorkouts/bin/Debug/SQLite БД последних тренировок от 466 до 518.db
/DiaryWorkouts/bin/Debug/backups/SQLite — копия 2.db
/DiaryWorkouts/bin/Debug/backups/SQLite - копия 3.db
/DiaryWorkouts/bin/Debug/backups/SQLite — копия без изменения таблицы тренировок.db
/DiaryWorkouts/bin/Debug/backups/SQLite — копия.db
/DiaryWorkouts/bin/Debug/backups/SQLite БД последних тренировок от 466 до 518.db
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  4-9-2014 11h 20m 252s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  4-11-2014 18h 55m 885s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  9-9-2014 19h 30m 599s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  9-11-2014 17h 1m 851s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  9-11-2014 19h 3m 685s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  13-11-2014 15h 7m 94s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  22-8-2014 21h 51m 377s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  22-9-2014 13h 20m 316s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  22-9-2014 22h 8m 623s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  28-8-2014 23h 1m 676s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  28-8-2014 23h 6m 392s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  29-9-2014 18h 48m 649s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  29-9-2014 19h 45m 74s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  30-8-2014 13h 11m 995s .txt
/DiaryWorkouts/bin/Debug/export files/Data Base Export at  30-8-2014 13h 31m 638s .txt
/DiaryWorkouts/bin/Debug/import/db to 416.txt
/DiaryWorkouts/bin/Debug/import/export file 21-07 11.08.2014.txt
/DiaryWorkouts/bin/Debug/import/export file 21-09 11.08.2014.txt
/DiaryWorkouts/bin/Debug/import/близко к финалу 2.txt
/DiaryWorkouts/bin/Debug/import/близко к финалу.txt
